<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Luis Palacios | Developer, Blogger, Teacher</title>
    <meta name="description" content="Luis Palacios is a passionate Full Stack Web Developer that loves software development. Currently located on Managua, Nicaragua">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:title" content="Luis Palacios - Full Stack Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/luis-palacios-3.jpeg">
    <meta property="og:image:width" content="308">
    <meta property="og:image:height" content="509">
    <meta property="og:description" content="Full Stack developer that keep pushing himself forward! to learn more and more in the vast world of tech">
    @*<meta property="fb:app_id" content="1927001367325265">*@
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@LRPalacios" />
    <meta name="twitter:title" content="Luis Palacios - Full Stack Web Developer">
    <meta name="twitter:description" content="Full Stack developer that keep pushing himself forward! to learn more and more in the vast world of tech">
    <meta name="twitter:image" content="http://luispalacios.azurewebsites.net/images/luis-palacios.png">
    <style>
        .circle-loader,.loader{height:50px;position:absolute;width:50px}h1,h3,h5,ul{margin-bottom:10px}.nav,ul{list-style:none}#preloader,svg:not(:root){overflow:hidden}[type=submit],button{-webkit-appearance:button}.btn-large,a{text-decoration:none}.clearfix:after,.container:after,.nav:after,.row:after{clear:both}.circle-loader .path,.path{stroke-dasharray:1,200;stroke-dashoffset:0;stroke-linecap:round}.loader{left:calc(50% - 50px);top:calc(50% - 50px)}.circle-loader{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;left:50%;top:20%}.circle-loader .path{-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite}#preloader{background:#fff;display:block;height:100vh;position:fixed;width:100%;z-index:9999}button::-moz-focus-inner,input::-moz-focus-inner{border:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:inherit}body{line-height:1.42857143}h1,h3,h5{color:inherit}h1,h3{margin-top:20px}h5{margin-top:10px}ul{margin-top:0}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@@media (min-width:768px){.container{width:750px}}@@media (min-width:992px){.container{width:970px}}@@media (min-width:1200px){.container{width:1170px}}.col-md-3,.col-md-4,.col-md-6,.col-sm-12,.col-sm-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px}@@media (min-width:768px){.col-sm-12,.col-sm-6{float:left}.col-sm-12{width:100%}.col-sm-6{width:50%}}@@media (min-width:992px){.col-md-3,.col-md-4,.col-md-6{float:left}.col-md-6{width:50%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-offset-1{margin-left:8.33333333%}}.nav{padding-left:0;margin-bottom:0}.clearfix:after,.clearfix:before,.container:after,.container:before,.nav:after,.nav:before,.row:after,.row:before{display:table;content:" "}.hide{display:none!important}header,main,nav,section{display:block}@@-ms-viewport{width:device-width}button,input{line-height:1.15;overflow:visible}[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}@@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}.grey.lighten-5{background-color:#fafafa!important}.grey{background-color:#9e9e9e!important}.white{background-color:#fff!important}.white-text{color:#fff!important}nav,nav a,nav ul a{color:#fff}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{-webkit-text-decoration-skip:objects;background-color:transparent;color:#039be5}button,input{color:inherit;font:inherit;margin:0}[class^=mdi-],h1,h3,h5{font-weight:400}button{overflow:visible;text-transform:none}.main-section,.waves-effect{overflow:hidden}button::-moz-focus-inner,input::-moz-focus-inner{padding:0}input{line-height:normal}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}ul li{list-style-type:none}.btn-floating,.btn-large,.z-depth-1,nav{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}i{line-height:inherit}i.left{float:left;margin-right:15px}.left{float:left!important}.right{float:right!important}@@font-face{font-family:Material-Design-Icons;src:url(d23b5163599596ee8fed5e6c4fce824d.eot);src:url(d23b5163599596ee8fed5e6c4fce824d.eot?#iefix-g7cqhn) format("embedded-opentype"),url(98311456903486ecf6f8f705bee85781.svg#Material-Design-Icons) format("svg");font-weight:400;font-style:normal}[class^=mdi-]{font-family:Material-Design-Icons;speak:none;font-style:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.about-subtitle,.btn-large,.primary-nav .brand-logo,.side-nav li a{text-transform:uppercase}.mdi-action-search:before{content:"\E65F"}.mdi-content-archive:before{content:"\E6FF"}.mdi-navigation-menu:before{content:"\E8A1"}@@media only screen and (min-width:601px){.container{width:85%}}@@media only screen and (min-width:993px){nav a.button-collapse{display:none!important}.container{width:70%}}.row{margin-left:auto;margin-right:auto}.row:after{content:"";display:table}nav{background-color:#ee6e73;width:100%;height:56px;line-height:56px}.btn-floating,.btn-large{background-color:#26a69a;background-clip:padding-box}nav .nav-wrapper{position:relative;height:100%}nav a.button-collapse{float:left;position:relative;z-index:1;height:56px}nav a.button-collapse i{font-size:2.7rem;height:56px;line-height:56px}nav .brand-logo{position:absolute;color:#fff;display:inline-block;font-size:2.1rem;padding:0}@@media only screen and (max-width:992px){nav .brand-logo{left:0;width:100%;text-align:center;z-index:0}}.btn-floating,.waves-effect{position:relative;z-index:1}nav ul{margin:0;float:right}nav ul li{float:left;padding:0}nav ul a{font-size:1rem;display:block;padding:0 15px}@@media only screen and (min-width:601px){nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i{height:64px;line-height:64px}nav .nav-wrapper i{font-size:2rem}}html{box-sizing:border-box;line-height:1.5;color:rgba(0,0,0,.87)}@@media only screen and (min-width:0){html{font-size:14px}}@@media only screen and (min-width:992px){html{font-size:14.5px}}@@media only screen and (min-width:1200px){html{font-size:15px}}h1{line-height:4.62rem}h3{line-height:3.212rem}h5{line-height:1.804rem}.btn-large{display:inline-block;padding:0 2rem;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:none;outline:0;color:#fff;text-align:center;letter-spacing:.5px}.btn-floating i,.btn-large i{line-height:inherit;font-size:1.6rem}.btn-floating{width:37px;height:37px;padding:0;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}.btn-floating,.btn-floating i{display:inline-block;color:#fff;line-height:37px}.btn-floating i{width:inherit;text-align:center}.waves-effect{display:inline-block;will-change:opacity,transform}input[type=search]{-webkit-appearance:textfield;background-color:transparent;border:none;border-bottom:1px solid #9e9e9e;outline:0;height:3rem;width:100%;font-size:1rem;margin:0 0 15px;padding:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.btn-large,.row{margin-bottom:0}@@media only screen and (max-width:992px){ul.side-nav{position:fixed;width:240px;left:-250px;top:0;height:100%;height:calc(100% + 60px);padding-bottom:60px;background-color:#fff;z-index:999;will-change:left}ul.side-nav li{float:none;padding:0 15px;width:240px}ul.side-nav a{color:#444}}a,body,div,form,h1,h3,h5,header,html,i,img,li,nav,p,section,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}a,body,h1,h3{font-family:Roboto,sans-serif}header,nav,section{display:block}.mobile-profile,.side-nav li i{display:none}img{max-width:100%}p{line-height:30px;font-size:18px}body{font-size:16px;color:#fff;font-weight:400;background-color:#fafafa}.padd-tb-60{padding-top:60px;padding-bottom:60px}.btn-large{height:50px;line-height:50px}.container{position:relative}.inline-menu li a{font-size:13px;font-weight:500}header.nav{box-shadow:0 1px 6px rgba(0,0,0,.35);width:100%;top:0;position:fixed;z-index:999}.primary-nav{height:inherit;line-height:inherit;background-color:transparent!important;box-shadow:none}.primary-nav .brand-logo{position:static;color:#00bcd4;margin-top:29px;font-size:19px}.side-nav li a,.static-menu li a{color:#727272;border-bottom:6px solid transparent;background-color:transparent}.side-nav li{margin-left:40px;background-color:transparent}.side-nav li:first-child{margin-left:0}.side-nav li a{padding:25px 0;line-height:24px}.static-menu{margin-left:40px}.static-menu li a{line-height:27px;padding:22px 0;font-size:25px}.static-menu li a i{line-height:inherit;height:inherit;font-size:inherit;float:none!important;margin:0;vertical-align:middle}.static-menu li:last-child{margin-left:12px}.static-menu form{width:300px;position:relative;height:80px;max-width:100%;padding-left:35px}.static-menu .search{width:100%;color:#212121;font-size:15px;margin:0;padding:13px 0;border:none;box-shadow:none}.static-menu form button{line-height:inherit;height:inherit;border:none;padding:0;font-size:14px;background-color:transparent;position:absolute;left:0;top:0}.static-menu form i{height:inherit;line-height:inherit;font-size:26px;color:#727272}.about-inner{margin:60px 0}.about-subtitle{font-size:24px;font-weight:600;margin-bottom:30px}.person-img img{border:8px solid #fff}.person-about p{color:#727272;font-size:14px;line-height:28px;margin-bottom:35px}.person-info h5{border-bottom:1px solid #eee;color:#727272;font-size:14px;margin-bottom:12px;padding-bottom:12px}.person-info h5 span{display:inline-block;min-width:70px}.person-about>a.btn-large{background-color:#fff;font-size:14px;padding-right:15px;padding-left:15px}.person-about>a.btn-large i{font-size:26px;margin-right:8px}.about-social{margin:25px 0 0}.about-social ul li{display:inline-block;margin-right:8px}.about-social ul li a i{font-size:14px}#skill .sec-overlay{background:hsla(0,0%,100%,.92);height:100%;width:100%;padding-top:60px;padding-bottom:100px}.skill-inner{margin-top:70px}.skill-graph{margin-bottom:0}.skill-graph .single-skill{height:490px;width:60px;position:relative}.root-sec{position:relative}.container{padding:0 15px;margin:0 auto;max-width:1170px;width:90%}@@media only screen and (min-width:768px){.container{width:750px}}@@media only screen and (min-width:992px){.container{width:970px}}@@media only screen and (min-width:1200px){.container{width:1170px}}.container .row{margin-right:-15px;margin-left:-15px}.clearfix:after,.clearfix:before{content:" ";display:table}@@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@@keyframes rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.path{-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke:#000}@@-webkit-keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35}to{stroke-dasharray:89,200;stroke-dashoffset:-124}}@@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35}to{stroke-dasharray:89,200;stroke-dashoffset:-124}}@@media only screen and (max-width:1365px){.side-nav li{margin-left:30px}}@@media only screen and (max-width:992px){.person-about{margin-bottom:40px}.skill-graph .single-skill{height:450px}.primary-nav .brand-logo{left:75px;max-width:300px;position:absolute;display:none}.side-nav li a{border:none;text-transform:none;line-height:10px;padding:0}nav a.button-collapse{color:#727272;float:left;left:0;position:absolute;top:8px;z-index:99}ul.side-nav{z-index:999}.side-nav li,.side-nav li:first-child{margin-left:0}nav ul li{border-bottom:1px solid rgba(0,0,0,.05)}.side-nav li i{display:inline-block;font-size:15px;line-height:60px;width:40px}.mobile-profile{background:url(180cd196318141041bf0e4934a9e8dd0.jpg) 50%/cover no-repeat;display:block;min-height:160px;position:relative}.profile-inner{background:rgba(60,70,80,.7);height:100%;left:0;padding:20px;position:absolute;top:0;width:100%}.pp-container{display:block;margin:5px 0;width:60px}.pp-container img{border-radius:50%;width:100%;display:block}.mobile-profile h3{color:#fff;font-size:16px;font-weight:700;margin:8px auto 5px;text-align:left}.mobile-profile h5{color:#fff;font-size:13px;text-align:left}.about-inner{margin:50px 0}#skill .sec-overlay{padding-bottom:80px;padding-top:70px}.about-inner,.skill-inner{padding:0 20px}}@@media only screen and (max-width:991px){.skill-inner{margin-top:0}}@@media only screen and (max-width:767px){.about-wrap{padding:30px 0}.person-img img{margin-bottom:25px}.skill-graph .single-skill{height:335px}.skill-right{padding-top:30px}}@@media only screen and (max-width:479px){.static-menu form{width:170px}.about-subtitle{font-size:20px;margin-bottom:25px}.skill-graph .single-skill{height:335px}.about-inner,.skill-inner{padding:0}}.brand-bg{background-color:#00bcd4!important}.circle-loader .path{stroke:#00bcd4}.about-social ul li a i,.about-subtitle,.person-about>a.btn-large{color:#00bcd4}.owl-carousel{display:none;width:100%;position:relative;z-index:1}.no-js .owl-carousel{display:block}
    </style>
    <environment include="Development">
        <link rel="preload" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'" />
    </environment>
    <environment exclude="Development">
        <link rel="preload" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" as="style" onload="this.rel='stylesheet'" />
    </environment>
    @RenderSection("styles", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-104693796-1', 'auto');
        ga('send', 'pageview');
    </script>
    
</head>
<body>
    <!-- Preloader --> 
    <div id="preloader">
      <div class="loader">
            <svg class="circle-loader" height="50" width="50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>    
    </div>
    <!--preloader end-->
    <!-- Main Container -->
    <main id="app" class="main-section">
        <header id="navigation" class="root-sec white nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav-inner">
                            <nav class="primary-nav">
                                <div class="clearfix nav-wrapper">
                                    <a href="/" class="left brand-logo menu-smooth-scroll" data-section="#about">
                                        @*<img src="images/logo.png" alt="">*@
                                        Luis Palacios
                                    </a>
                                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                                    <ul class="right static-menu">
                                        <li class="search-form-li">
                                            <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                            <div class="search-form-wrap hide">
                                                <form action="#" class="">
                                                    <input type="search" class="search">
                                                    <button type="submit">
                                                        <i class="mdi-action-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                        @*<li>
                                            <a class="dropdown-button blog-submenu-init" href="#!" data-activates="dropdown1">
                                                <i class="mdi-navigation-more-vert right"></i>
                                            </a>
                                        </li>*@
                                    </ul>
                                    <ul class="inline-menu side-nav" id="mobile-demo">
                                        <!-- Mini Profile // only visible in Tab and Mobile -->
                                        <li class="mobile-profile">
                                            <div class="profile-inner">
                                                <div class="pp-container">
                                                    <img src="~/images/Luis-Palacios-3.jpeg" alt="luis-palacios" asp-append-version="true">
                                                </div>
                                                <h3>Luis Palacios</h3>
                                                <h5>Full Stack Developer</h5>
                                            </div>
                                        </li><!-- mini profile end-->
                                        <li>
                                            <a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>About Me</a>
                                        </li>
                                        <li>
                                            <a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>Resume</a>
                                        </li>
                                        <li>
                                            <a href="#network" data-section="#network" class="menu-smooth-scroll"><i class="fa fa-users fa-fw"></i>Network</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index" ><i class="fa fa-pencil fa-fw"></i>Blog</a>
                                        </li>
                                        <li>
                                            <a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>Testimonial</a>
                                        </li>
                                    </ul>
                                    @*<ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">
                                        <li>Home</li>
                                        <li>
                                            <a href="blog.html">All Blog</a>
                                        </li>
                                        <li>
                                            <a href="blog-with-sidebar.html">Blog with Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="single.html">Single Blog</a>
                                        </li>
                                    </ul>*@
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </header>
        @RenderBody()
        <!-- Footer Section end -->
        <footer id="footer" class="root-sec white root-sec footer-wrap">
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix footer-inner">
                    <ul class="left social-icons">
                        <li><a href="https://www.facebook.com/luisrodolfopalacios" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/luisrodolfopalacios/" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://twitter.com/LRPalacios" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/+LuisPalaciosLR" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/Luis-Palacios" class="tooltips tooltipped github" data-position="top" data-delay="50" data-tooltip="Github"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://medium.com/@@Luis_Palacios" class="tooltips tooltipped medium" data-position="top" data-delay="50" data-tooltip="Medium"><i class="fa fa-medium"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/1685147/luis-palacios" class="tooltips tooltipped stackoverflow" data-position="top" data-delay="50" data-tooltip="StackOverFlow"><i class="fa fa-stack-overflow"></i></a>
                        </li>
                    </ul> <!-- ./social icons end -->
                    <div class="right copyright">
                        <p>Luis Palacios &copy; All Rights Reserved</p>
                    </div>
                    </div>
                </div>
                </div>
            </div> <!-- ./container end-->
        </footer>
    <!-- #footer end -->
    </main>
    @RenderSection("Scripts", required: false)
    <script>
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        !function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);
    </script>
    <script async src="https://use.fontawesome.com/735204ed59.js"></script>
    <script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Person",
    "name": "Luis Palacios",
    "url": "http://luispalacios.ninja",
    "sameAs": [
        "https://www.facebook.com/luisrodolfopalacios",
        "https://github.com/Luis-Palacios",
        "https://www.linkedin.com/in/luisrodolfopalacios/",
        "https://plus.google.com/u/0/+LuisPalaciosLR"
    ]
    }
</script>
</body>
</html>
