<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Luis Palacios</title>
    <meta name="description" content="Luis Palacios is a passionate full stack developer that loves to learn and teach about software development. Currently located on Managua, Nicaragua">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <environment include="Development">
        <script src="https://use.fontawesome.com/735204ed59.js"></script>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/dist/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Preloader --> 
    <div id="preloader">
      <div class="loader">
            <svg class="circle-loader" height="50" width="50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>    
    </div>
    <!--preloader end-->
    <!-- Main Container -->
    <main id="app" class="main-section">
        <header id="navigation" class="root-sec white nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav-inner">
                            <nav class="primary-nav">
                                <div class="clearfix nav-wrapper">
                                    <a href="#home" class="left brand-logo menu-smooth-scroll" data-section="#home">
                                        <img src="images/logo.png" alt="">
                                    </a>
                                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                                    <ul class="right static-menu">
                                        <li class="search-form-li">
                                            <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                            <div class="search-form-wrap hide">
                                                <form action="#" class="">
                                                    <input type="search" class="search">
                                                    <button type="submit">
                                                        <i class="mdi-action-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dropdown-button blog-submenu-init" href="#!" data-activates="dropdown1">
                                                <i class="mdi-navigation-more-vert right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="inline-menu side-nav" id="mobile-demo">

                                        <!-- Mini Profile // only visible in Tab and Mobile -->
                                        <li class="mobile-profile">
                                            <div class="profile-inner">
                                                <div class="pp-container">
                                                    <img src="images/person.png" alt="">
                                                </div>
                                                <h3>Luis Palacios</h3>
                                                <h5>Full Stack Developer</h5>
                                            </div>
                                        </li><!-- mini profile end-->

                                        <li>
                                            <a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>About Me</a>
                                        </li>
                                        <li>
                                            <a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>Resume</a>
                                        </li>
                                        <li>
                                            <a href="#team" data-section="#team" class="menu-smooth-scroll"><i class="fa fa-users fa-fw"></i>Team</a>
                                        </li>
                                        <li>
                                            <a href="#blog" data-section="#blog" class="menu-smooth-scroll"><i class="fa fa-pencil fa-fw"></i>Blog</a>
                                        </li>
                                        <li>
                                            <a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>Testimonial</a>
                                        </li>
                                    </ul>
                                    <ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">
                                        <li>Home</li>
                                        <li>
                                            <a href="blog.html">All Blog</a>
                                        </li>
                                        <li>
                                            <a href="blog-with-sidebar.html">Blog with Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="single.html">Single Blog</a>
                                        </li>
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </header>
        
        @RenderBody()
        
        <!-- Footer Section end -->
        <footer id="footer" class="root-sec white root-sec footer-wrap">
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix footer-inner">
                    <ul class="left social-icons">
                        <li><a href="#" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped dribbble" data-position="top" data-delay="50" data-tooltip="Dribbble"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li><a href="#" class="tooltips tooltipped behance" data-position="top" data-delay="50" data-tooltip="Behance"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul> <!-- ./social icons end -->
                    <div class="right copyright">
                        <p>MaterialX &copy; All Rights Reserved</p>
                    </div>
                    </div>
                </div>
                </div>
            </div> <!-- ./container end-->
        </footer>
    <!-- #footer end -->
    </main>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <environment include="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js">
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    <script src="~/dist/bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
