<div class="single-post-content">
    <p>
        I've been working on improving my website speed performance, I normally use google <a href="https://developers.google.com/speed/pagespeed/insights/">Page Speed Insights</a>
        to check my score and previously I had pretty much got the best score possible but since January 2018 google update the tool to use
        <a href="https://developers.google.com/web/tools/lighthouse/">Lighthouse</a> I didn't pay much attention to it since recently and I discovered
        that my score got lower and the tool had new suggestions for me that didn't had before. This was good since after implementing those recommendations
        I learned a few new tricks and my website got a lot more faster.
    </p>

    <p>
        You have a few ways to use this tool one is integrated into your google chrome developers tools, and another one is going into the link I shared before and simply
        enter the link to the page you would like to measure. I'm going to proceed using the page and see how is my website currently doing
    </p>
    
</div>
